<h1>Request Show Page</h1>
<h2>Your merchant is: <%= link_to @merchant.name, @merchant  %></h2>
<h2>You requested: <%= link_to @product.name, @product %>!</h2>
<h2>Quntity: <%= @request.quantity %></h2>
<h3>Custom Requests:</h3>
  <% @request.custom_requests.each do |cr| %>
    <%= link_to(cr.description, request_custom_request_path(@request, cr)) %><br />
  <% end %><br />
  <%= link_to("New Request", new_request_custom_request_path(@request, @custom_request)) %><br />
<p>
  <a class="btn btn-danger btn-lg" href="/requests/<%= @request.id %>/edit" role="button">Edit Your Request?</a><br />
</p>
